<div class="local_f2freport-filters card p-3 my-3">
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    {{#intro}}
      <div class="dimmed_text">{{.}}</div>
    {{/intro}}
    {{{formhtml}}}
  </div>
</div>
